@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <h1>Yeni Başlık Ekleme Sayfası</h1>
</div>
<div style="margin-left:5rem;margin-top:5rem">

    @using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label("Başlık Adı")
            @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control", @style = "width:20rem" })
            @Html.ValidationMessageFor(x => x.HeadingName)
            <br />
            @Html.Label("Kategori")
            @Html.DropDownListFor(x => x.CategoryID,(List<SelectListItem>)ViewBag.vlc, new { @class = "form-control", @style = "width:20rem" })
            @Html.ValidationMessageFor(x => x.CategoryID)
            <br />
            @Html.Label("Yazar")
            @Html.DropDownListFor(x => x.WriterID, (List<SelectListItem>)ViewBag.vlw, new { @class = "form-control", @style = "width:20rem" })
            @Html.ValidationMessageFor(x => x.WriterID)
            <br />
            <button class="btn btn-success toastrBtn3">Başlığı oluştur</button>
        </div>
    }
</div>

